VITE_SUPABASE_URL=https://zfgskpilbxwjpeemezrp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmZ3NrcGlsYnh3anBlZW1lenJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNTQwODAsImV4cCI6MjA5MTkzMDA4MH0.Grs5EhwtMUzZlnf2Q-e1Y3gcboM3fi-gI8CSncupmJY
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmZ3NrcGlsYnh3anBlZW1lenJwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjM1NDA4MCwiZXhwIjoyMDkxOTMwMDgwfQ.8xKRDIFu1v9Lf8VWubIfpkc0rFYVYf2iiIHyvCZneg4